# Eclipse
*.launch
.classpath
.project
.settings/
bin/

# IntelliJ
*.ipr
*.iws
.idea/
out/

# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar

# Mac
.DS_Store

# Fabric
run/

# Compiled files
*.class
*.log
*.jar
*.zip
*.tar.gz
*.rar

# Mod specific
crash-reports/
logs/
